<web-app>
		<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/showtest.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>main.FrontServlet</servlet-class>
			<multipart-config>
		   	<max-file-size>52428800</max-file-size>
		   	<max-request-size>52428800</max-request-size>
		   	<file-size-threshold>0</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

	<!-- 画像を表示 -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/WebContent/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>test</servlet-name>
		<jsp-file>/WEB-INF/jsp/postview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/k</url-pattern>
	</servlet-mapping>


</web-app>