<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/getpostlist</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/toeditprofile</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/mylike</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>TCPFilter</filter-name>
		<filter-class>filter.ToCurrentPageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TCPFilter</filter-name>
		<url-pattern>/getpostlist</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>main.FrontServlet</servlet-class>
			<multipart-config>
		   	<max-file-size>52428800</max-file-size>
		   	<max-request-size>52428800</max-request-size>
		   	<file-size-threshold>0</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/WebContent/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.io.IOException</exception-type>
		<location>/WEB-INF/error/nouser.jsp</location>
	</error-page>
	
</web-app>