<html>
	<head>
		<header class="site-header">
			<h1 class="site-logo"><img src="../../WebContent/profileIcon/default_icon.png" alt="ロゴ"></h1>
			<nav class="gnav">
				<ul class="gnav__menu">
					<li class="gnav__menu__item"><a href=""><img src="../../WebContent/profileIcon/default_icon.png" alt="投稿"></a></li>
					<li class="gnav__menu__item"><a href=""><img src="../../WebContent/profileIcon/default_icon.png" alt="通知"></a></li>
					<li class="gnav__menu__item"><a href=""><img src="../../WebContent/profileIcon/default_icon.png" alt="いいね早見表"></a></li>
					<li class="gnav__menu__item"><a href=""><img src="../../WebContent/profileIcon/default_icon.png" alt="アイコン"></a></li>
	
				</ul>
			</nav>
		</header>
		<link rel="stylesheet" type="text/css" href="../../WebContent/style/timeline.css"/>
		<title>タイムライン</title>
	</head>
	<body>
		<% if(session.getAttribute("loginUser") == null){ %>

			<a href="log">ログイン</a>
			<a href="signup">新規登録</a>

		<% } else { %>

			${sessionScope.loginUser.loginId}
			<a href="logout">ログアウト</a>

		<% } %>
		<%
			if(request.getAttribute("data") == null){
				response.sendRedirect("getpostlist");
			}
		%>
		<a href="upload">upload</a><br>
		<c:forEach var="data" items="${data}">
				<div class="post">

						<div class="header">
							<a href="">${data.userName}</a>
						</div>
				
						<div class="image">
							<img src="../../WebContent/images/dog3.jpg">
						</div>

						<!-- iine, comment(reply) -->
						<div class="command">
							<span style="font-size: 2em;">
								<i class="far fa-heart"></i>
							</span>
							<span style="font-size: 2em;">
								<i class="far fa-comment"></i>
							</span>
						</div>

						<div class="content">
							<div class="caption">
								<a href="">${data.userName}</a>${data.caption}
							</div>
							<div class="reply">
								<c:forEach var="replies" items="${post}">
									<!-- reply.username ${post.reply} -->
								</c:forEach>
							</div>
							
							<form class="replybox">
								<input type="textarea" name="replybox">
								<input type="submit" name="submit" value="reply">
								<!-- <input type="hidden" value="${sessionScope.loginUser.loginId}" -->
							</form>
						</div>
					</div>
					<hr>
		</c:forEach>
	</body>
</html>