
body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fcfffe;

}
#form1 {
	margin: 16px;
}

#sbox{
    height: 40px;
    width: 200px;
    border-radius: 2px 0 0 2px;
    outline: 0;
}

/*検索ボタン*/
#sbtn{
    width: 70px;
	outline:none;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    background-color: #33CCCC;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
	background-color:#26a0a0;
}

.site-header{
    background:#abe8d5;
    display: flex;
    
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    z-index: 100; 
}

.site-logo {
	margin: 1px;
}

.site-logo img{
    width: 175px;
}

.logo {
    width: 50px;
}

.gnav{
    padding: 0px;
    padding-right: 20px;
}

.gnav__menu{
    display: flex;
    margin: auto;
    padding: 0px;
}

.gnav__menu__item{
    list-style: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
}
.gnav__menu__item a{
    text-decoration: none;
}

.navicon {
    position: inherit;
    margin-left: 1%;
    width: 5%;
    list-style: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

h1 {
text-align: center;
}

.titlelogo {
    width: 100%;
}

.nyuuryoku {
border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
-webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
-moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width:80%;
outline:none;
}

.submitbutton {
border:solid 1px #33CCCC;
padding:15px 30px;
margin:5%;
font-family:Arial, sans-serif;
font-size:1.2em;
text-transform:uppercase;
font-weight:bold;
color:#FFF;
cursor:pointer;
background-color:#33CCCC;
outline:none;
}

.submitbutton:hover{
	background-color:#26a0a0;
	outline:0;
}



.gnav__menu{
    display: flex;
    margin: auto;
}
.gnav__menu__item{
    margin-left: 1%;
    width: 50px;
    padding: 10px;
    list-style: none;
    

}
.gnav__menu__item a{
    
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: center;
}
.box1 {
    display: inline-block;      /* インラインブロック要素にする */
    width: 30%;
}

.box2 {
    display: inline-block;
    text-align: center;
    border: solid;
    width: 30%;
    height: 420px;
    padding: 35px;
    border-color: #33CCCC;
    border-width: 3px;
    margin: 20px;
}

.image {
    width: 100%;
    height: 85%;
}

img{
    object-fit: cover;
    vertical-align: middle;
}

.wf-roundedmplus1c { 
    font-family: "M PLUS Rounded 1c"; 
}

.slider {
  position   : relative;
  overflow   : hidden;
/* 画像のサイズに合わせて変更ください */
  width      : 100%;
  height     : 120%;
  margin     : auto;      
/* サンプルは中央寄せの背景：白 */
  background : #fff;
  
}
 
 /*=== 画像の設定 ======================================= */
.slider img {
  display    : block;
  position   : absolute;
/* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height: inherit;
  opacity    : 0;
  animation  : slideAnime 10s ease infinite;
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slider img:nth-of-type(1) { animation-delay: 0s }
.slider img:nth-of-type(2) { animation-delay: 5s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
   25% { opacity: 1 }
  50% { opacity: 1 }
  75% { opacity: 0 }
 100% { opacity: 0 }
}

#form3{

}
