.profilesetting {
	width: 60%;
    margin: 0 auto;
    border: solid;
    border-color: #e4e8e4;
    border-width: 3px;
    margin-top: 1%;
    margin-bottom:2%;
    background-color: #ffffff;
    padding: 5%;
}

.pro {
	width: 100%;
    text-align: center;
}

#textbox {
    margin: 10px;
    resize: none;
    width: 80%;
    height: 56px;
    font-size: 120%;
    padding: 18px;
    outline: 0;
}

#proftextbox {
    margin: 10px;
    resize: none;
    width: 80%;
    height: 150px;
    font-size: 140%;
    padding: 18px;
    outline: 0;
}