.postlist{
   width: 85%;
    flex-wrap: wrap;
    display: flex;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
}
.userlist {
	width: 85%;
    flex-wrap: wrap;
    display: flex;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
}

.user1 {
	display: inline-block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: black;
}
