
.site-header{
    background:#aaf7df;
    display: flex;
    
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}
.site-logo img{

    width: auto;
}
.gnav__menu{
    display: flex;
    margin: auto;
}
.gnav__menu__item{
    margin-left: 1%;
    width: 5%;
    list-style: none;
    

}
.gnav__menu__item a{
    
    text-decoration: none;
}

.Post {
    width: 50%;
    margin: 0 auto;
    border: solid;
    border-color: #33CCCC;
    border-width: 3px;
    margin-top: 5%;
    background-color: #ffffff;
}

.header{
    border: solid;
    border-color: #33CCCC;
    border-bottom-width: 3px;
    padding: 10px;
}


.image {
    width: 100%;
    height: 85%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid;
    border-color: #33CCCC;
    border-bottom-width: 3px;
}

.command {

}
span {}

.content{

}

.reply{

}

.replybox{

}

body{
    width: 100%;
    margin: 0 auto;
    background-color: #f3faf0

}