/********* Page Layout Style ***********/
body{
    margin: 0;
    padding: 0;
    background-color: fcfffe;
}
form{
    margin: 0;
    padding: 0;
}

/**************************************/
/********** Navbar Style *******/
nav.bg-animal{
    background-color: #abe8d5;
}
nav + a > img{
    height: 75px;
}
/*******************************/
/*********** Post Style ********/
/* post layout */
div.post{
    margin: 0 auto 60px;
    max-width: 606px;
    border: 3px solid #e4e8e4;
}
div.post a{
    text-decoration: none;
    color:black;
}
 /* post top */
 div.post > div.top{
    border-bottom: 2px solid #e4e8e4;
    display: block;
    margin: 0;
    padding: 0;
}
div.post > div.top a{
    font-size: 1.5em;
    font-weight: bold;
}
div.post > div.top img.icon{
    width: 40px;
    height: auto;
}
/* post body */
div.post > div.body{
    text-align: center;
    max-height: 800px;
    height: auto;
    min-height: 300px;
    overflow: hidden;
}
div.post > div.body img{
    object-fit: cover;
    width: 100%;
    height: auto;
    vertical-align: middle;
}
div.post > div.body video{
    object-fit: cover;
    width: 100%;
    height: auto;
    vertical-align: middle;
}
/*******************************/

/* slick style */
.single-item{
  opacity: 0;
  transition: opacity .3s linear;
}


.single-item.slick-initialized{
  opacity: 1;
}

/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}

.slick-prev {
     left: 15px;
    z-index: 99;
}

/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}

/****************************************/
/* like + comment icon animation */
.command {
    margin: 0;
    border-top: 2px solid #e4e8e4;
}
.lovelike {
	display: inline-block;
}

.heart {
	width: 100px;
	height: 45px;
	background: url(../logo/web_heart_animation.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.heart:hover {
	background-position: -2800px 0;
	-webkit-transition: background 1s steps(28);
	transition: background 1s steps(28);
}

.heart:active {
	background-position: -2800px 0;
	-webkit-transition: background 1s steps(28);
	transition: background 1s steps(28);
}

.hukidashi {
	width: 100px;
	height: 45px;
	background: url(../logo/hukidashi.png) no-repeat;
	background-position: 0 0;
	cursor: pointer;
	display: inline-block;
}

.hukidashi:hover {
	background-position: -2800px 0;
	-webkit-transition: background 1s steps(28);
	transition: background 1s steps(28);
}

/****************************************************/

/****reply and caption****************/
.replybox{
	border: solid 0px;
    border-color: #e4e8e4;
    border-top-width: 3px;
    margin: 0px;
}

.replytext{
	border:solid 0px;
	resize: none;
	width: 85%;
	height:56px;
	font-size: 140%;
	padding: 10px;
    outline: 0;
    overflow: auto;
}

.replybuttom{
	float: right;
    border: solid 0px #33CCCC;
    padding: 7px 10px;
    /* margin: 5%; */
    /* font-family: Arial, sans-serif; */
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    background-color: #33CCCC;
    width: 15%;
    height: 7%;
    outline:none;
}

.replybuttom:hover{
    background-color: #26a0a0;
}

.caption{
    margin: 2%;
    word-break : break-all;
}
/**************************************************/

/* popupwindow style */
#popup_window{
	background: #000000aa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	z-index: 200;
	display: none;
	box-sizing: border-box;
}

#popup_window .popup_box{
	border-radius: 5px;
    background: #fff;
    max-width: 90%;
	min-height: 100px;
	box-sizing: content-box;
	overflow: visible;
	margin: 70px auto;
}

/* upload preview bottom (caption from) */
.bottom{
    border-top: 2px solid #e4e4e4;
}
.captiontext{
    border-top: 1px solid #e4e8e4;
	resize: none;
	width: 85%;
	height:60px;
	font-size: 140%;
	padding: 10px;
    outline: 0;
    overflow: auto;
}
